<div class="container-fluid sticky-nav-wrapper" style="background-color: #204d81;height: 80px;width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-dark  static-top">
     <div class="container">
       <a class="navbar-brand" href="#">
             <img src="/assets/img/logo.jpeg" height="58px" width="58px" alt="logo">
           </a>
           <h1 style="color: white;">VOIZFONICA</h1>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/admindashboard">Home
                    </a>
              </li>
              <li class="nav-item  active">
                <a class="nav-link" href="/adminquery">Customer Queries <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/userlist">Customer's Details</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/adminlist">Admin's Details</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/prepaidlist">Offers and Packs</a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link" href='/home'>Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='/profile'>
                 <br>
                  
                </a>
              </li>
            </ul>
          </div>
     </div>
   </nav>
  </div>

<div class="color" style="background-color: #97afca;">
<h1 class="navbar-brand" href="#" style="padding-left: 210px;font-size: xx-large;">Chat with customer </h1>
<br>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExample04">
  <ul class="navbar-nav mr-auto">
   
    
  </ul>

</div>
<main class="chat">
<div class="container">
    <div class="chat-content">
        <div class="card">
             <!-- <ul class="list-group list-group-flush">
                    
                    <li class="list-group-item" *ngFor="let chatMessage of webSocketService.chatMessages">
                        
                        <strong>{{chatMessage.user}} :</strong>
                        <span>{{chatMessage.message}}</span> 
                       
                    </li>

                </ul> -->
                
                
                <div *ngFor="let chatMessage of webSocketService.chatMessages">
                  <div *ngIf="chatMessage.user!='admin'"> 

                    <div class="container-right"> 
                      <!-- <img src="https://cdn3.iconfinder.com/data/icons/user-roles/64/users-25-512.png" alt="Avatar" style="width:100%;"> -->
                      <img src="/assets/img/customer.jpeg" height="30px" width="30px">
                      <strong>{{chatMessage.user}} :</strong> <p>{{chatMessage.message}}</p>
                     
                      <!-- <span class="time-right">11:00</span> -->
                    </div>
                  </div>
                  <div *ngIf="chatMessage.user=='admin'"> 

                    <div class="container-left"> 
                      <!-- <img src="https://cdn3.iconfinder.com/data/icons/user-roles/64/users-25-512.png" alt="Avatar" style="width:100%;"> -->
                      <img src="/assets/img/admin.jpeg" height="30px" width="30px">

                      <strong>{{chatMessage.user}} :</strong><p>{{chatMessage.message}}</p>
                      
                      <!-- <span class="time-right">11:00</span> -->
                    </div>
                  </div>
                </div>

            </div>
        </div>
        <form  (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">  
            <div class="chat-send-row">
                <div class="col-2">Enter the Name:
                    <input type="text" class="form-control" name="user" id="input-user" ngModel>

                </div>
                   
                <div class="col-8"> Enter the Message:
                    <input type="text" class="form-control" name="message" id="input-message" ngModel>
                </div>
                <br>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Send</button><br><br>
                </div>
            </div>
        </form>
    </div>
</main></div>
<app-footernew></app-footernew>