<div class="container-fluid" style="height: 500px; background-color: #6885a7;" >
  <div class="row">
    <div class="container">
      <div style="width: 50%;float: left;">
        <h2 style="color: rgb(255, 255, 255);padding-top: 100px;">"VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way"
        </h2>
    </div>
    <div class="shadowww"  style="width: 40%;float: right;padding-right: 5%;margin-top: 4%;">
      <div style="margin:auto;padding-top:100px;">
      <div style="margin:0% 0% 5% 5%;" >
      <h2 align="center" style="font-size:40pt;" >{{num}}+</h2>
      <h3 align="center" style="text-shadow: black;" >Our Happy Customers World Wide</h3><br>
    </div>
    </div>
    </div>
  </div>    
  </div>