<div class="container-fluid sticky-nav-wrapper" style="background-color: #204d81;height: 80px;width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-dark  static-top">
   <div class="container">
     <a class="navbar-brand" href="#">
           <img src="/assets/img/logo.jpeg" height="58px" width="58px" alt="logo">
         </a>
         <h1 style="color: white;">VOIZFONICA</h1>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item">
           <a class="nav-link" href="/home">Home
               </a>
         </li>
         <!-- <li class="nav-item">
           <a class="nav-link" href="#">About</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Services</a>
         </li>-->
         <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
         <li class="nav-item  active ">
           <a class="nav-link" href="/contact">Supports & Contact Us              <span class="sr-only">(current)</span>
           </a>
         </li>
         <!-- <li class="nav-item"> 
           <a class="nav-link" routerLink=''>Contact Us</a>
         </li> -->
         <li class="nav-item">
           <a class="nav-link" routerLink='/login'>User Login</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink='/registration'>User SignUp</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink='/adminlogin'>Admin Login</a>
         </li>
         <!-- <li class="nav-item">
           <a class="nav-link" routerlink='/adminlogin'>Admin Login</a>
         </li> -->
       </ul>
     </div>
   </div>
 </nav>
</div> 
      
      <div class="about-section">
        <h1>ABOUT SUPPORT MEMBERS</h1>
        <p>For any confussion Contact US:</p>
        <p>Resize the browser window to see that this page is responsive by the way.</p>
        <!-- <div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0 "  type="submit">Search</button>
        </div> -->
      </div>
      
 <div class="bg1" >    
      <h2 style="text-align:center">Our Team</h2>
      <div class="row">
        <div class="column">
          <div class="card" style="background-color: rgb(90, 132, 160);">
            <img src="/assets/img/aru.jpeg" alt="Jane" style="width: 30%" class="center">
            <div class="container">
              <h2>Arulmozhivarman C</h2>
              <p class="title">TEAM LEADER (STS DEVOLOPER)</p>
              <p> B.E FROM JEPPIAAR CLG</p>
              <p>Email :arulmozhivarman@prodapt.com</p>
              <p><a class="button" href="mailto:arulmozhivarman@prodapt.com" role="button" > Contact </a></p>
            </div>
          </div>
        </div>
    
        <div class="column">
            <div class="card"  style="background-color:rgb(90, 132, 160);">
              <img src="/assets/img/bhava.jpeg" alt="Mike"  style="width: 30%" class="center">
              <div class="container">
                <h2>Kaluva Bhavani</h2>
                <p class="title">ANGULAR CODER </p>
                <p>B.E FROM STANLEY CLG.</p>
                <p> Email:bhavani@prodapt.com</p>
                <p><a class="button" href="mailto:bhavani@prodapt.com" role="button" > Contact </a></p>
              </div>
            </div>
          </div>
      
        <div class="column">
          <div class="card"  style="background-color: rgb(90, 132, 160);">
            <img src="/assets/img/subho.jpeg" alt="Mike"  style="width: 30%" class="center">
            <div class="container">
              <h2>Subhra Ghosh</h2>
              <p class="title">ANGULAR CODER </p>
              <p>B.TECH FROM KIIT UNIVERSITY</p>
              <p> Email:subhra@prodapt.com</p>
              <p><a class="button" href="mailto:subhra@prodapt.com" role="button" > Contact </a></p>
            </div>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <div class="column">
          <div class="card"  style="background-color: rgb(90, 132, 160);">
            <img src="/assets/img/ab.jpeg" alt="Mike"  style="width: 30%" class="center">
            <div class="container"  >
              <h2>Abinaya </h2>
              <p class="title">ANGULAR DEVOLOPER</p>
              <p>B.E FROM SNS CLG.</p>
              <p>Email: abinaya@prodapt.com</p>
              <p><a class="button" href="mailto: abinaya@prodapt.com" role="button" > Contact </a></p>
            </div>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
        <div class="column">
            <div class="card"  style="background-color:rgb(90, 132, 160);">
              <img src="/assets/img/ne.jpeg" alt="Mike"  style="width: 30%" class="center">
              <div class="container"  >
                <h2>Sahaya Nebesan S </h2>
                <p class="title">PROJECT DEVOLOPER</p>
                <p>B.TECH FROM SRI SAIRAM CLG</p>
                <p>Email: nibisonn@prodapt.com</p>
                <p><a class="button" href="mailto:nibisonn@prodapt.com" role="button" > Contact </a></p>
              </div>
            </div>
          </div>
          <br>
          <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0 "  type="submit">Search</button>
    </div>  -->
    <br>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px" class="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <iframe src="https://maps.google.com/maps?q=chennai&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe><br><br>
          <h4><u>The Direction Of The Office:</u> CareerNet Campus, Ground Floor, Plot No.53, Devarabisana Halli, Outer Ring Road,Bellandur Post, Chennai, TamilNadu. 600 001</h4><br>
          <h4><u>Contact No:</u>044 4903 3000</h4><br>
          <h4><u>Email:</u> contactus@voizfonica.com</h4><br><br><br><br><br><br><br><br>
      </div>
      </div>
    </div>   

<app-footernew></app-footernew>