<h1  style="text-align:center">POSTPAID PLANS</h1>
<div class="container">
    <div class="row pricing">
        <div class="col-md-3">
            <div class="well">
                <h3><b>Plan 1</b></h3>
                <hr>
                <p>Recharge Plan: RS 399</p>
                <hr>
                <p>Data : 40 GB Per Month</p>
                <hr>
                <p><b>Validity : 54 Days</b></p>
                <hr>
                <p><b>Call : Unlimited Local/STD</b></p>
                <hr>
                <a href="/payment" class="btn btn-danger btn-block">BUY</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-3">
            <div class="well">
                <h3><b>Plan 2</b></h3>
                <hr>
                <p>Recharge plan: Rs 499</p>
                <hr>
                <p>Data : 75 GB Per Month </p>
                <hr>
                <p><b>Validity : 84 Days</b></p>
                <hr>
                <p><b>Call : Unlimited Local/STD</b></p>
                <hr>
                <a href="/payment" class="btn btn-primary btn-block" >BUY</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-3">
            <div class="well">
                <h3><b>Plan 3</b></h3>
                <hr>
                <p>Recharge Plan : Rs 749</p>
                <hr>
                <p>Data :  125 GB Per Month</p>
                <hr>
                <p><b>Validity : 120 Days</b></p>
                <hr>
                <p><b>call : Unlimited Local/STD</b></p>
                <hr>
                <a href="/payment" class="btn btn-info btn-block" >BUY</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-md-3">
            <div class="well">
                <h3><b>Plan 4</b></h3>
                <hr>
                <p>Recharge Plan : Rs 1500</p>
                <hr>
                <p>Data : 200 GB Per Month</p>
                <hr>
                <p><b>Validity : 150 Days</b></p>
                <hr>
                <p><b>Call : Unlimited Local/STD</b></p>
                <hr>
                <a href="/payment" class="btn btn-success btn-block" >BUY</a>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <div class="col-md-3">
            <div class="well">
                <h3><b>Plan 5</b></h3>
                <hr>
                <p>Recharge Plan : Rs 2999</p>
                <hr>
                <p>Data : 3.5 GB  P/D</p>
                <hr>
                <p><b>Validity : one year</b></p>
                <hr>
                <p><b>call : Unlimited Local/STD </b></p>
                <hr>
                <a href="/payment" class="btn btn-warning btn-block">BUY</a>
            </div>
        </div>
       