
      <section id="pricing" class="pricing">
        <div class="container">

          <div class="section-title" data-aos="fade-down">
            
            <!-- <h2>Pricing</h2> -->
           
          </div>

          <div class="row no-gutters">

            <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Prepaid</h3>
              <h4><span>Unlimited Calls</span></h4>
              <ul>
                <li><i class="bx bx-check"></i>129/- 0.5GB/D </li>
                <li><i class="bx bx-check"></i> 149/- 1GB/D </li>
                <li><i class="bx bx-check"></i> 119/- 1.5GB/D </li>
                <li><i class="bx bx-check"></i> Enjoy unlimited data and calls with VoiceFonica</li>
                <li><i class="bx bx-check"></i> We are Always for you</li>
              </ul>
              <a href="/login" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box featured" data-aos="zoom-in" data-aos-delay="100">
              <!-- <h3>Business</h3> -->
              <h4>Postpaid<span>per month</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> Join us with many offers</li>
                <li><i class="bx bx-check"></i> Enjoy un interrupted network</li>
                <li><i class="bx bx-check"></i> Always be with your loving ones</li>
                <li><i class="bx bx-check"></i> We serve you 24/7</li>
                <li><i class="bx bx-check"></i> Be with secure network</li>
              </ul>
              <a href="/login" class="get-started-btn">Get Started</a>
            </div>

            <div class="col-lg-4 box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Dongle</h3>
              <h4><span>High Speed Data</span></h4>
              <ul>
                <li><i class="bx bx-check"></i> 129/- 0.5GB/D</li>
                <li><i class="bx bx-check"></i>149/- 1GB/D  </li>
                <li><i class="bx bx-check"></i>119/- 1.5GB/D </li>
                <li><i class="bx bx-check"></i>Enjoy high speed data with VoiceFonica </li>
                <li><i class="bx bx-check"></i>We are Always for you </li>
              </ul>
              <a href="/login" class="get-started-btn">Get Started</a>
            </div>

          </div>

        </div>
      </section><!-- End Pricing Section -->



      
