<div class="container-fluid sticky-nav-wrapper" style="background-color: #204d81;height:70px;width: 100%;">
    <a class="navbar-brand" href="#" style="color:white;padding-left: 600px; padding-top: 30px;">Payment Section</a>
    <!-- <li class="nav-item">
      <a class="nav-link" href="/transaction">Recharge history</a>
    </li> -->
   <!-- <button type="button" class="btn btn-dark btn-lg" (click)="gototransaction()">Transaction</button>  -->
    <div>
    
    <div class="column" style="padding-top: 100px;">
        <div class="card"  style="background-color:rgb(146, 173, 190);">
          <div class="container">
            <h2>Your Payment was Successful!</h2>
            <p class="title" style="font-size: large;">Thank you for using our Service </p>
            <p style="font-size: large;">You can get your bill in mail</p>
            <p> </p>
            <button type="button" class="btn btn-warning" ><a href="/home">Home Page</a></button> &nbsp;  <button type="button" class="btn btn-success" ><a href="/loginsuccess">Dashboard</a></button><br><br><p style="font-size: large;">* Please check your mail</p>
            <!-- <button type="button" class="btn btn-warning" ><a href="/billing">Generate the bill</a></button><br><br> -->
 

          </div>
        </div>
      </div>

     