<div class="container-fluid sticky-nav-wrapper" style="background-color: #204d81;height: 80px;width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-dark  static-top">
   <div class="container">
     <a class="navbar-brand" href="#">
           <img src="/assets/img/logo.jpeg" height="58px" width="58px" alt="logo">
         </a>
         <h1 style="color: white;">VOIZFONICA</h1>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
     <div class="collapse navbar-collapse" id="navbarResponsive">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item ">
           <a class="nav-link" href="/home">Home
            
               </a>
         </li>
         <!-- <li class="nav-item">
           <a class="nav-link" href="#">About</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Services</a>
         </li>-->
         <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
         <li class="nav-item ">
           <a class="nav-link" href="/contact">Supports & Contact Us</a>
         </li>
         <!-- <li class="nav-item"> 
           <a class="nav-link" routerLink=''>Contact Us</a>
         </li> -->
         <li class="nav-item ">
           <a class="nav-link" routerLink='/login'>User Login  </a>
         </li>
         <li class="nav-item active">
           <a class="nav-link" routerLink='/registration'>User SignUp <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink='/adminlogin'>Admin Login</a>
         </li>
         <!-- <li class="nav-item">
           <a class="nav-link" routerlink='/adminlogin'>Admin Login</a>
         </li> -->
       </ul>
     </div>
   </div>
 </nav>
</div>

<div class="image">
  <!-- <img src="assets/img/administrator.jpg" height="640px" width="1111px" align="right"/> -->
  <!-- <img src="assets/img/userimg2.jpg" height="995px" width="1515px" align="right"/> -->
</div>

<div class="bg">
<div style="min-width: 70%;min-height: 100%;">
    <div class="containers" style="max-width: 1150px;">
          <h3 class="textual"> Enter your mail id for reset password</h3>
          <form #Registerform="ngForm" (ngSubmit)="registerUser()">
            {{Registerform.form.valid}}
             
          <label for="email">Email:</label>
          <input type="email" class="form-control"  placeholder="Enter email" name="email" [(ngModel)]="user.email" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel" 
          [class.is-invalid]="email.invalid && email.touched"
          >
           <div *ngIf="email.errors && (email.invalid && email.touched)"> 
           
           <small class="text-danger" *ngIf="email.errors.required" >EmailId is required field</small>
             <small class="text-danger" *ngIf="email.errors.pattern">Enter valid EmailId</small>
           </div>
           <br>
           
         
          <button [disabled]="Registerform.form.invalid" type="submit" class="btn btn-warning">Send Password reset Link</button>
         
          </form>
        </div>
        
    
      </div>
    </div>