h3
{
    color:rgb(255, 255, 255);
}
button
{
width: 100%;
}
.container{
    justify-content: right;
     /* height: 800px;
    width: 800px;
    padding: 100px;  */

}
.containers{
    justify-content: center;
     height: 648px;
    width: 800px;
    padding: 200px; 

}
.bg{
    background-image: url("/assets/img/bgnew.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
