<!DOCTYPE html>
<html>
<head>
 <title></title>

<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

<header class="site-header clearfix">
 <nav>
  <div class="logo">
   <h1></h1>
  </div>
  <div class="menu"> 
   <ul>
    <li routerLink="/home">Home</li>
    <li routerLink="/services">Services</li>
    <li routerLink="/about">AboutUs</li>
    <li routerLink="/contact">ContactUs</li>
    <li routerLink="#">Admin</li>
    <li routerLink="#">User</li>
   </ul>
  </div>
 </nav>
 <section>
  <div class="leftside"> 
   <img src="/assets/logo.jpg">
  </div>
  <div class="rightside"> 
   <h3>VoizFonica Telecom Services</h3><br>
  <!-- <p>  DONATION FOR SUPPORT:    PhonePay = vinodbahadur@ybl      GooglePay: vbthapa55@oksbi   Believe me, all this money will be used to make more quality videos and to make my channel grow. So that I can always provide you awesome free videos :)   </p>-->
   <button>Welcome</button>
   
  </div>
  
 </section>

</header>


</body>
</html>
<app-log></app-log>
<app-second></app-second>
<app-third></app-third>
<app-four></app-four>